input:invalid {border: 2px solid red;}
h1{font-size: 26px;}
fieldset{border-width: 3px;
    display: inline;}
form{font-size: 18px; line-height: 25px}
.a{width: 200px;
    font-size: 14px;
    padding: 4px 0 4px 6px;
    border: 1px solid;
    background: #F6F6f6;
    border-radius: 3px;}
#id_area{font-size: 14px;
    padding: 4px 0 4px 6px;
    border: 1px solid;
    background: #F6F6f6;
    border-radius: 3px;}
.c{appearance: none;
    border: 0;
    border-radius: 3px;
    background: #c2185b;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;}